    @page
    @model azure_app_trev.Pages.DeploymentSlotsModel
    @{
        ViewData["Title"] = "dEPLOYMENT sLOTS PAGE";
    }
    <div class="text-center">
        <h1 class="display-4">  Testing Deployment slots </h1>
        <h3>
           Validating the deployment slot feature
        </h3>
    </div>